/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Header and Navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin-bottom: 1rem;
}

nav ul li {
    display: flex;
    max-width: 150px;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #444;
}

nav a.active {
    background-color: #007bff;
    font-weight: bold;
}

/* Main Content */
main {
    padding: 2rem;
    text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; 
  padding: 20px;
  justify-content: center; 
}

.text-content {
  flex: 1; 
  max-width: 600px; 
}

.responsive-image {
  max-width: 35%; 
  height: auto; 
  border-radius: 10px; 
}

/* Team Section */
.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.team-member {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}

.content {
  display: flex;
  align-items: center;
}

.content img {
  width: 500px;
  margin-right: 100px;
  margin-top: 30px;
}

.text {
  max-width: 5000px;
  margin-left: 600px;
  margin-right: 50px;
}

.pub-list {
  list-style-type: none;
}
.pub-list li {
  margin-bottom: 10px;
}

.pub-caption {
  font-size: 14px;
}
